nav li a {
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav li a img {
  width: 30px;
  height: auto;
  display: block;
  margin: 0 auto; 
}

/* Add padding to the content to prevent it from being overlapped by the fixed navigation bar */
body {
    padding-top: 40px;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #212121;
    color: #ffffff;
}

.container {
    max-width: 600px;
    padding: 20px;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.colored-text {
    color: rgb(0, 85, 255);
}
.copy {
    text-align: center;
}
.welcome-message {
    text-align: center;
}
.logo-img {
    max-width: 25px;
    max-height: 25px;
    margin: 10px;
}
a {
    color: rgb(255, 255, 255);
    border-radius: 10px;
}
a::before {
    content: "→ ";
    color: rgb(179, 194, 255);
    margin-left: 5px;
    transition: all 0.2s ease;
}
a:hover::before {
    content: "→ ";
    color: rgb(122, 149, 255);
    margin-left: 5px;
}


