$sans-font: 'nf-aurulent', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif !default;
$mono-font: 'nf-fira-mono', 'Fira Mono', 'Hack', 'Consolas', monospace !default;
$transition-speed: 0.3s;

// Nord variables
$nord0: #2e3440;
$nord2: #434c5e;
$nord4: #d8dee9;
$nord6: #eceff4;
$nord8: #88c0d0;
$nord9: #81a1c1;
$nord10: #5e81ac;

.nord-light {
  background-color: $nord6;
  color: $nord0;
  font-family: $sans-font;
  transition: background-color $transition-speed,
            color $transition-speed;
}

.nord-dark {
  background-color: $nord0;
  color: $nord4;
  font-family: $sans-font;
  transition: background-color $transition-speed,
              color $transition-speed;
}

a {
  color: $nord10;
  text-decoration: none;

  &:before {
    content: "↗ "
  }
  &:focus {
    outline: 2px dashed $nord9;
    outline-offset: 2px;
  }

  .nord-light & {
    color: $nord10;
    
    &:focus {
      outline-color: $nord9;
    }
  }

  .nord-dark & {
    color: $nord8;
    
    &:focus {
      outline-color: $nord9;
    }
  }
}

div.codeblock {
  font-family: $mono-font;
  border-radius: 10px;
  border: 2px solid $nord10;
  padding: 1em;
  transition: background-color $transition-speed,
              color $transition-speed,
              border-color $transition-speed;

  .nord-light & {
    background-color: $nord6;
    color: $nord0;
    border-color: $nord10;

    &:hover {
      border-color: $nord9;
    }
  }

  .nord-dark & {
    background-color: $nord0;
    color: $nord4;
    border-color: $nord8;

    &:hover {
      border-color: $nord9;
    }
  }
}

.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 24px;
  margin: 10px 0;

  input { 
    opacity: 0;
    width: 0;
    height: 0;

    &:checked + .slider {
      background-color: $nord8;

      &:before {
        transform: translateX(26px);
      }
    }
  }
}

.slider {
  position: absolute;
  cursor: pointer;
  background-color: #ccc;
  border-radius: 24px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transition: 0.4s;

  &:before {
    position: absolute;
    content: "";
    height: 18px;
    width: 18px;
    left: 3px;
    bottom: 3px;
    background-color: white;
    border-radius: 50%;
    transition: 0.4s;
  }
}

p, div, h1, h2, h3, h4, h5, h6, li {
  font-family: $sans-font;
  outline: none;

  &:focus {
    .nord-light & {
      outline: 2px dotted $nord10;
      outline-offset: 2px;
    }

    .nord-dark & {
      outline: 2px dotted $nord8;
      outline-offset: 2px;
    }
  }
}

.icon {
  width: 16px;
  height: 16px;
}

.nord-light ::selection {
  background-color: $nord4;
  color: $nord0;
}

.nord-dark ::selection {
  background-color: $nord2;
  color: $nord6;
}

input, textarea {
  font-family: $sans-font;

  .nord-light & {
    caret-color: $nord10;
  }

  .nord-dark & {
    caret-color: $nord8;
  }
}

body:focus {
  .nord-light & {
    outline: 1px solid $nord10;
  }

  .nord-dark & {
    outline: 1px solid $nord8;
  }
}